{% extends "app_general/base.html" %}

{% block content %}
    <h1>Upload Your Payment Slip</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.name.label_tag }} {{ form.name }}<br>
        {{ form.phone.label_tag }} {{ form.phone }}<br>
        {{ form.amount.label_tag }} {{ form.amount }}<br>
        {{ form.transfer_time.label_tag }} {{ form.transfer_time }}<br>
        {{ form.payment_slip.label_tag }} {{ form.payment_slip }}<br>
        <button type="submit">Upload</button>
    </form>

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li class="{{ message.tags }}">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}

