{% extends "app_general/base.html" %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10">
            <div class="card shadow-sm">
                <div class="card-header bg-light text-center">
                    <h3 class="mb-0 text-dark">รีวิวสินค้า: {{ product.name }}</h3>
                </div>
                <div class="card-body bg-light">
                    <form method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            {{ form.as_p }}
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">ส่งรีวิว</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
