{% extends "app_general/base.html" %}
{% load crispy_forms_tags %}

{% block title %}
<title>เพิ่มสินค้า</title>
{% endblock %}

{% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">เพิ่มสินค้า</h2>
          <form method="POST" autocomplete="off" enctype="multipart/form-data">
            {% csrf_token %}
            {{ productform|crispy }}
            <select class="form-select mt-3" aria-label="Default select example" name="cat">
              <option disabled selected>เลือกหมวดหมู่</option> <!-- เพิ่มตัวเลือกที่ไม่สามารถเลือกได้และถูกเลือกเป็นค่าเริ่มต้น -->
              {% for cat in categorys %}
              <option>{{cat.name}}</option>
              {% endfor %}
            </select>
            <div class="form-group mt-3">
              <div class="form-group mt-3">
                <label for="shipping_cost">ค่าจัดส่ง/กก.</label>
                <input type="number" class="form-control" id="shipping_cost" name="shipping_cost" required step="0.01" min="0" max="1000">
             </div>
             
              <style>
  .button-container {
    display: flex;
    justify-content: space-between;
  }

  .btn-equal-height {
    height: 48px; /* ปรับความสูงตามที่ต้องการ */
  }
</style>

<div class="button-container">
  <a href="{% url 'products' %}" class="btn btn-secondary btn-lg btn-block mt-3 btn-equal-height">กลับไปยังรายการสินค้า</a>
  <button type="submit" class="btn btn-success btn-lg btn-block btn-equal-height">ยืนยัน</button>
</div>

            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
